* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
/**Header Component*/
.navbar {
  background: rgb(231, 226, 221);
  z-index: 1;
  text-transform: capitalize;
}
.navbar .nav-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.btn-link {
  color: rgba(0, 0, 0, 0.5) !important;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}

.scrolled {
  background: rgb(231, 226, 221);
  z-index: 1;
}
.scrolled .nav-link {
  font-size: 19px;
  font-weight: bold;
  text-transform: capitalize;
}
.cart-icon i {
  font-size: 35px;
  position: relative;
  padding: 2px;
  color: rgba(0, 0, 0, 0.5);
}
.shopping-counter {
  position: absolute;
  top: -1px;
  right: 2px;
  font-size: 22px;
  background: rgb(221, 10, 10);
  padding: 0 4px;
  border-radius: 40%;
  color: white;
  font-weight: bold;
}
/*SignUp Component*/
.signup-container {
  height: 100vh;
}
/*cakes.js background: #e1d4d4;*/
.cakes {
  padding: 2rem 0;
}
.cakes_section_title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-family: "Yellowtail", cursive;
  font-weight: bold;
}
.cakes-center {
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.cake_img_container {
  position: relative;
  overflow: hidden;
}
.cake_bag_btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  transform: translateX(101%);
  cursor: pointer;
}
.cake_expand_btn {
  position: absolute;
  top: 0%;
  right: 0;
  color: #f09d51;
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
}

.cake_bag_btn:hover {
  color: white;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.cake_img_container:hover .cake_bag_btn {
  transform: translateX(0);
}
.cake-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s ease;
}
.cake_img_container:hover .cake-img {
  opacity: 0.5;
}
.cake h3 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: right;
}
.cake h4 {
  font-size: 1rem;
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: #f09d51;
  text-align: right;
}
.stars {
  color: #bb9230;
}
.paragraph {
  font-style: italic;
  font-family: cursive;
  font-size: 2rem;
  text-align: center;
}
.section-5 .container {
  margin-top: 5%;
  margin-bottom: 5px;
}
.menu_title h2 {
  font-weight: bold;
  color: darkgrey;
  font-family: Snell Roundhand, cursive;
}
.single-content {
  position: relative;
  transition: 0.3s;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}
.single-content .text-content,
.single-content:after {
  position: absolute;
  left: 20px;
  right: 20px;
}
.single-content:after {
  content: "";
  display: block;
  background: crimson;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: 0.4s;
}
.single-content:hover:after {
  opacity: 0.5;
  transform: rotate3d(0, 0, 0, 0deg);
}
.single-content img {
  width: 100%;
  height: auto;
}
.text-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: white;
}
.text-content h4 {
  font-family: big john;
}
.single-content:hover .text-content {
  opacity: 1;
  transform: translate(0%, -50%);
  transition-delay: 0.3s;
}
.footer_area {
  background: #303339;
  overflow: hidden;
  margin-top: 4px;
}

.footer_widgets {
  padding: 80px 0px 50px 0px;
}

.footer_widgets .footer_wd_inner .col-lg-3 .f_link_widget {
  padding-left: 45px;
}

.f_title {
  margin-bottom: 20px;
}

.f_title h3 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.f_title h3:before {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f195b2;
}
.f_list_style li {
  list-style-type: none;
}
.f_list_style a {
  text-decoration: none;
  color: #dbdbdb;
}
.f_about_widget p {
  font-size: 14px;
  line-height: 23px;
  font-family: Snell Roundhand, cursive;
  color: #a8a8a8;
  letter-spacing: 0.28px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.f_about_widget .nav {
  margin-top: 35px;
}

.f_about_widget .nav li {
  display: inline-block;
  margin-right: 10px;
}

.f_about_widget .nav li a {
  display: inline-block;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #7b7b7c;
  font-size: 16.92px;
  line-height: 35px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.f_about_widget .nav li:hover a {
  color: #f195b2;
  border-color: #f195b2;
}

.f_about_widget .nav li:last-child {
  margin-right: 0px;
}

.f_link_widget .list_style li {
  margin-bottom: 10px;
}

.f_link_widget .list_style li a {
  font-size: 14px;
  color: #a8a8a8;
  letter-spacing: 0.28px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.f_link_widget .list_style li:hover a {
  color: #f195b2;
}

.f_contact_widget h4 {
  font-size: 18px;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.f_contact_widget p {
  font-size: 14px;
  line-height: 26px;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
}

.f_contact_widget h5 {
  font-size: 14px;
  line-height: 26px;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
}

.footer_copyright .copyright_inner {
  overflow: hidden;
  border-top: 1px solid #3b3e43;
  padding: 32px 0px 30px 0px;
}

.footer_copyright .copyright_inner .float-left h5 {
  font-size: 14px;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
}

.footer_copyright .copyright_inner .float-right a {
  color: #f195b2;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
